@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
}

/* scroll bar */
.on-scrollbar{
    width: 0.3rem;
    scrollbar-width: 0.3rem !important; /* Firefox */
    -ms-overflow-style: none !important; /* IE 10+ */
  }
  
.on-scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: none !important;
    background-color: transparent !important;
}

.on-scrollbar::-webkit-scrollbar {
    width: 6px !important;
    background-color: transparent;
}

.on-scrollbar::-webkit-scrollbar-thumb {
    background-color: #acacac;
}

::-webkit-scrollbar {
    width: 0.35rem;
    scrollbar-width: thin;
    -webkit-box-shadow: none !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(17, 17, 17, 0.3);
    scrollbar-color: #111111;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #444;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-box-shadow: none !important;
}

.chat-text-area{
    resize: none;
}

.btn-green{
    transition: color 0.5s ease-in-out !important;
}

.btn-green:hover{
    background-color: #005043 !important;
}


.search-addon:hover{
    background-color: #8f8f8f !important;
}

.card-header:first-child {
    border-radius: 0;
}

.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: .35rem;
    border-top-right-radius: .35rem;
}

.accordion-item:last-of-type .accordion-header .accordion-button.collapsed {
    border-bottom-right-radius: .35rem;
    border-bottom-left-radius: .53rem;
}

.list-pertanyaan, .pesan, .pesan-terpilih, .pesan-ditolak-terjawab{
    -webkit-transition: all .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.list-pertanyaan{
    overflow-y: hidden !important;
}
.list-pertanyaan:hover{
    overflow-y: overlay !important ;
}

#btn-kembali {
    position: relative;
    left:25px;
}
.bi-arrow-left{
    position: absolute;
    left:-25px;
    transition: all .2s;
}
#btn-kembali:hover>.bi-arrow-left {
    left: -35px;
}

#btn-display:hover, #btn-save:hover, #btn-kirim:hover{
    background-color: rgba(255, 102, 65, 0.7) !important;
}
.btn-presentasi:hover{
    color: rgba(255, 102, 65, 0.5) !important;
}

#btn-cancel:hover{
    background-color: #d7d7d7;
}

#btn-delete:hover{
    color: #dc3545 !important;
    background-color: rgba(220, 53, 69, 0.20) !important;
}

.btn-love:hover{
   color: rgba(255, 65, 123, 0.5) !important;
}

.btn-terjawab:hover{
    background-color: rgba(25, 135, 84, 0.8) !important;
}

.btn-accept:hover{
    background-color: rgba(25, 135, 84, 0.2) !important;
}

.btn-decline:hover{
    background-color: rgba(220, 53, 69, 0.2) !important;
}

.btn-revert:hover, .btn-revert-terpilih:hover{
    color: rgba(0, 0, 0, 0.5) !important;
}

#pesan-terpilih, #pesan{
    -webkit-transition: color .3s ease .15s;
    -moz-transition: all .3s ease .15s;
    -o-transition: all .3s ease .15s;
    -ms-transition: all .3s ease .15s;
    transition: all .3s ease .15s;
}

.form-control:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.form-control.is-valid, .was-validated .form-control:valid {
    border-color: #ced4da !important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.blink {
    animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
}
@keyframes blink {
    from, to { opacity: 1 }
    50% { opacity: 0.3 }

}
@-webkit-keyframes blink {
    from, to { opacity: 1 }
    50% { opacity: 0.3 }

}

.border-orange{
    border-color: #FF6641!important;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: rgba(255, 102, 65, 0.1) !important;
}

.bi-question-circle{
    cursor: help !important;
}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
    .list-pertanyaan{
        /*max-height: ;*/
    }
}